* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f0f5ff;
  margin: 0px;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  margin-top: 20px;
}
main {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}
.navbar li {
  float: left;
  position: relative;
  left: 45%;
}
.poll,
.poll2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(35, 30, 128, 0.05);
}
.poll .question,
.poll2 .question2 {
  padding: 20px;
  color: #111;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}

.poll .answers,
.poll2 .answers2 {
  padding: 20px 20px 10px;
}
.poll .answers .answer,
.poll2 .answers2 .answer {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  line-height: 40px;
  color: #111;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.poll .answers .answer.selected,
.poll2 .answers2 .answer.selected {
  border: 1px solid #4f4f89;
}
.poll .answers .answer span.percentage-value,
.poll2 .answers2 .answer span.percentage-value {
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  transform: translateY(-50%);
  color: #111;
  font-size: 15px;
}
.poll .answers .answer span.percentage-bar,
.poll2 .answers2 .answer span.percentage-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #ccd8f1;
  z-index: -1;
  transition: width 300ms ease-in-out;
}
